/* RESET
--------*/
/*#region*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


html{
  box-sizing: border-box;
}


/*#endregion*/

/* BASIC FORMATTING
-------*/
html{
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: poppins, serif, sans-serif;
  color: #212121;
  line-height: 1.62;
}

/*LINKS*/
a {
  text-decoration: none;
  outline: none;
}
a:hover {
  cursor: pointer;
  color: #212121;
}

/*FORM ELEMENT*/

button {
  border: 0;
}
input, input:focus{

}

h1,h2 {
  font-weight: 400;
  font-size: 2em; 
}

p{
  margin-bottom: 1em; /*16px*/
}

 

/* HELPER CLASSES
DRY - Don't repeat yourself!
---------------------------------------*/

/*FONT FAMILY*/
.font {
  font-family: serif;
}

/*TYPOGRAPY*/
.bold {
  font-weight: bold;
}
.courier {
  font-family: 'courier',;
}


/* LAYOUT
-------*/


/* MEDIA QUERIES
-------*/